body{
    font-family: Arial, Helvetica, sans-serif;
}

#jumbotron, #about-us, ._button{
    background-color: rgb(95, 189, 158);
}

._aquamarine{
    color: rgb(95, 189, 158);
}

._nightblue{
    background-color: rgb(53, 71, 109);
}

._footer-color{
    background-color: rgb(33, 44, 70);
}
